.InputItems input{
    display:inline-block;
    font-size:15px;
    margin: 10px;
}
.InputItems .Items {
    padding: 10px 10px 10px 5px;
    width:30%;
}
.InputItems .Price {
    padding: 10px 10px 10px 5px;
    width:10%;
}
.InputItems input::-webkit-outer-spin-button,
.InputItems input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}