/* .InputItems{
    display:inline;
}
.InputItems input{
    font-size:15px;
    margin: 10px;
}
.InputItems .Items {
    padding: 10px 10px 10px 5px;
    width:30%;
}
.InputItems .Price {
    padding: 10px 10px 10px 5px;
    width:10%;
}
.InputItems input::-webkit-outer-spin-button,
.InputItems input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0; 
}  */
.form {
    /* padding-left: 12rem;     */
}