/* .container {
    background-color: #25405E;
    padding-bottom: 4rem;
} */
/* .title {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-bottom: 3rem;
    padding-top: 2rem;
} */
/* .inputItems {
    display: inline;
    margin-left: 15rem;
    margin-right: 22rem;
    padding: 50px;
}
.button {
    padding-left:20px;
    padding-right: 20px;
}
.form {
    padding-left: 12rem;    
} */
.ExpenseControl {
    display: block;
    padding: 10px 20px 10px 10px;
    /* text-align: center; */
}